<!DOCTYPE html>
<html>
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>{{ datos.titulo }}</title>
</head>

<style>
    /* Estilos CSS aquí */
    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .th {
        padding: 5px;
        font-size: 15px;
    }

    .th,
    .td {
        padding: 5px 5px 0 5px;
        border: 1px solid #ccc;
        font-size: 14px;
        text-align: center;
        border: 1px solid black;
    }

    .th {
        background-color: #f2f2f2;
        font-weight: bold;
        font-size: 14px;
        border: 1px solid black;
    }

    /* Estilos para el encabezado y el pie de página */
    .encabezado {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    .pie-pagina {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }

    .contenedor {
        display: flex;

        flex-direction: column;
    }

    .imagen {
        position: absolute;
    }
</style>


<body>
    <div class="encabezado">
        <table>
            <thead>
                <tr>
                    <th colspan="1" align="left">
                        <img src="{{ logo_url }}" class="imagen" alt="Logo de la empresa" width="120"
                            style="padding-right: 30px;">
                    </th>
                    <th colspan="3" style="padding-top: 20px;">
                        <h2 style="font-size: 40px; text-align: right;">SÁLIDAS MAQUILA </h2>
                    </th>

                </tr>
            </thead>
        </table>
    </div>
    <div class="encabezado">
        <table>
            <thead>
                <tr>
                    <th colspan="2" style="padding: 0;">
                        <h1 class="title" style="font-size: 14px; text-align: left; margin: -25px 0 0 0; padding:0;">
                            Folio:
                            <label style="font-weight: normal; font-size: 14px; ">{{folio}}</label>
                        </h1>
                        <h1 class="title" style="font-size: 14px; text-align: left; margin:0; padding:0;">
                            Producto:
                            <label style="font-weight: normal; font-size: 14px; ">{{FiltradoProducto.Descripcion}}</label>
                        </h1>
                        <h1 class="title" style="font-size: 14px; text-align: left; margin:0; padding:0;">
                            Tolva No:
                            <label style="font-weight: normal; font-size: 14px; ">2 </label>
                        </h1>
                        <h1 class="title" style="font-size: 14px; text-align: left; margin:0; padding:0;">
                            Fecha:
                            <label style="font-weight: normal; font-size: 14px; "> {{fecha_actual}}</label>
                        </h1>
                    </th>
                    <th colspan="3" style="padding-top: 25px; padding: 0;">
                        <h1 class="title" style="font-size: 14px; text-align: right; margin: 0; padding:0">
                            Industrial Agropecuaria Hermosillense S.A DE C.V
                        </h1>
                        <h1 class="title"
                            style="font-size: 14px; font-weight: normal; text-align: right;margin:0; padding:0">
                            Blvd. de los Ganaderos <br> Vaso de la presa <br> Hermosillo, Sonora
                        </h1>
                        <br>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <br>
    <div class="contenedor cuerpo">
        <div class="table">
            <table>
                <thead>
                    <tr>
                        <th class="th columna-contenido">A. Pedido Kg</th>
                        <th class="th columna-contenido">Corral</th>
                        <th class="th columna-contenido">Cliente</th>
                        <th class="th columna-contenido">A. Servido Kg</th>
                    </tr>
                </thead>
                <tbody>
                    {% for Contenido in TContenido %}
                    <tr>
                        <td class="td columna-base">
                            {{ Contenido.CantidadSolicitada }} {{Filtradounidad.Abreviacion}}
                        </td>
                        <td class="td columna-base">
                            {{ Contenido.IDCliente_id__Nombre }}
                        </td>
                        <td class="td columna-base">
                            {{ Contenido.IDCorral_id__Descripcion }}
                        </td>

                        <td class="td columna-base">

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="encabezado">
        <table>
            <thead>
                <tr>
                    <th colspan="3" style="padding: 0;">
                        <h1 class="title" style="font-size: 14px; text-align: left; margin: 0; padding:0;">
                            Observaciones:
                            <br><br>__________________________________
                            <br><br>__________________________________.
                        </h1>
                    </th>
                    <th colspan="2" style="padding-top: 25px;">
                        <h1 class="title"
                            style="font-size: 14px; text-align: left; margin: 0; padding:0; text-align: end;">
                            <label style="color: white;">---------------</label> Peso Tara:_______________Kg. <br><br>
                            <label style="color: white;">---------------</label> Peso Neto:_______________Kg. <br><br>
                            <label style="color: white;">-------------</label> Peso Bruto:_______________Kg. <br><br>
                        </h1>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="pie-pagina">
        <br>
        <table>
            <thead>
                <tr>
                    <th class="columna-base" style="padding-top: 5px;" colspan="1">
                        <h1>Firma del que sirvio<br>
                            <br>_____________________________________
                        </h1>
                    </th>
                    <th style="padding-top: 5px;" colspan="1">
                        <h1>Firma del pesador: <br> <br> _____________________________________</h1>
                    </th>
                </tr>
            </thead>
        </table>
    </div>
</body>